@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300&display=swap');

*,::before,::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --color-1: #AEDAA7;
    --color-2: #C1BDBA;
    --color-3: #FFFFFF;
}


body{
    background-color: var(--color-1);
    
}